.link1{
    text-decoration: none;
    color: white;
}

.productsContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 95%;
    gap: 10px;
    margin: auto;
}

.pagination{
    width: 30%;
    margin: auto;
    margin-top: 30px;
}

.paginate{
    text-align: center;
    font-size: 18px;
}

.paginate>span{
    width: 40px;
    height: 20px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}