.link1{
    text-decoration: none;
    color: white;
}

.productsContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: auto;
}

.pagination{
    width: 30%;
    margin: auto;
    margin-top: 30px;
}

.pagination>button{
    width: 120px;
    margin: 40px;
}